<table class="agendasTable">
	<thead>
		<th>Ordre du jour</th>
	</thead>
	<tbody>
		{% for agenda in agendas %}
			<tr>
				<td>
					{{ loop.index}}.
					{{agenda.title}}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<style>
	.agendasTable th {
		text-align: left;
		padding-left: 10px;
	}
	.agendasTable td {
		text-align: left;
		padding-left: 30px;
	}
</style>
