<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PDF</title>
	</head>

	<style>
		body {
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			margin-top: 5px;
		}
		#userTableDescription {
			width: 100%;
			text-align: right;
			font-style: italic;
			font-size: 0.7rem;
			margin-bottom: 1px
		}
		table {
			width: 100%;
			border-collapse: collapse;
			font-size: 0.85rem;
		}
		th,
		td {
			border-bottom: 1px solid #ddd;
		}
		tr:nth-child(even) {
			background-color: #E6E8FF;
		}
		th {
			background-color: #5764E1;
			color: white;
		}
		td {
			/* TODO:changer la règle height pour s'adapter au long contenus */
			min-width: 100px;
			vertical-align: middle;
			text-align: center;
		}
		#itemTable td,
		#itemTable th {
			padding: 7px;
			text-align: left;
		}
		h1,
		h2,
		h3,
		h4 {
			width: 100%;
			text-align: center;
			margin: 0;
		}
		h4 {
			margin-bottom: 20px;
		}
		hr {
			border: 1px solid #bbb;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		div.footer {
			text-align: center;
			font-size: 9
		}
		.lot {
			background-color: #ff9800;
			padding: 2px 5px;
			border-radius: 16px;
			color: white;
		}
		.temporary {
			color: red;
		}
		.annexe {
			text-align: center;
		}
		.annexe solid {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.annexeImg {
			max-width: 700px;
			max-height: 600px;
		}
		.page_break {
			page-break-before: always;
		}
		.my-2 {
			margin-top: 5px;
			margin-bottom: 5px
		}
		.mb-0 {
			margin-bottom: 0
		}
	</style>

	<body>
		<h2>OPÉRATION :</h2>
		<hr class="my-2"/>
		<h2>{{affair.name}}</h2>
		<hr class="my-2"/>
		{% if affair.meetingType == "Etude" %}
			<p style="text-align: center">
				Avancement de l'opération :
				{{ affair.progress}}%
			</p>
		{% endif %}
		<p style="text-align: center">{{affair.description}}</p>
		<p>
			{% if maitriseOeuvre %}
				Maitrise d'oeuvre :
				{{maitriseOeuvre|join(', ')}}
			{% endif %}
			<br/>
			{% if maitriseOuvrage %}
				Maitrise d'ouvrage :
				{{maitriseOuvrage|join(', ')}}
			{% endif %}
		</p>
		<hr class="mb-0"/>
		<h4>
			PV DE LA RÉUNION
			{{affair.meetingType }}
			N°{{pv.pvNumber}}
			DU
			{{pv.meetingDate|date("d-m-Y à H:i")}}
			,
			{{pv.meetingPlace}}
		</h4>
		{% if pv.meetingNextPlace %}
			<h4 style="color: red">PROCHAINE RÉUNION :
				{{pv.meetingNextDate|date("d-m-Y à H:i")}}. RDV :
				{{pv.meetingNextPlace}}
			</h4>
		{% endif %}

		<p id="userTableDescription">
			C1 : convié/convoqué à la présente réunion - P : présent - A : Absent - E : excusé - C2 : convié à la prochaine réunion
			{% if pv.meetingNextPlace %}
				du
				{{pv.meetingNextDate|date("d-m-Y à H:i")}}
			{% endif %}
			- D : Diffusion
		</p>
		<table>
			<thead>
				<th>Prénom Nom</th>
				<th>Groupe</th>
				<th>Fonction</th>
				<th>Organisme</th>
				<th>Mail</th>
				<th>Téléphone</th>
				<th>Statuts</th>
			</thead>
			<tbody>
				{% set matchingUsers = users|filter(user => user.userGroup == "Maîtrise d'ouvrage") %}
				{% for user in matchingUsers %}
					<tr>
						<td>{{user.firstName}}
							{{user.lastName}}</td>
						<td>{{user.userGroup}}</td>
						<td>{{user.userFunction}}</td>
						<td>{{user.organism}}</td>
						<td>{{user.email}}</td>
						{% set splitArray = user.phone|split('', 2) %}
						{% set formattedString = splitArray|join(' ') %}
						<td>{{formattedString}}</td>
						<td>{{user.statusPAE}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% for userGroup in userGroups %}
			{% set matchingUsers = users|filter(user => user.userGroup == userGroup) %}
			{% if matchingUsers|length > 0 %}
				{{ include('userGroupParticipant.twig', {users: matchingUsers, userGroup:userGroup}) }}
			{% endif %}
		{% endfor %}
		<hr class="solid">
		{% if pv.agendas %}
			{{ include('Agenda.twig', {agendas: pv.agendas}) }}
		{% endif %}
		{% if affair.meetingType == "Chantier" and lots %}
			<hr class="solid">
			{{ include('siteProgress.twig', {lots: lots}) }}
		{% endif %}
		<table id="itemTable" style="table-layout:fixed;">
			<thead>
				{% if affair.meetingType == "Chantier" %}
					<th style="width:10%">Lot</th>
					{# <th>Lot</th> #}
				{% endif %}
				<th>Note</th>
				<th>Suite à donner</th>
				<th style="width:10%;">Ressource</th>
				<th style="width:10%;">Echeance</th>
				<th style="width:10%;">Date d'échéance</th>
				{% if isImage == true %}
					<th style="width:10%;">Photo</th>
				{% endif %}
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						{% if affair.meetingType == "Chantier" %}
							<td>
								{% for lot in item.lots%}
									<span class="lot">{{lot.name}}</span>
									<br/>
								{% endfor %}
							</td>
						{% endif %}
						<td style="white-space: pre-wrap;">{{item.note}}</td>
						<td style="white-space: pre-wrap;">{{item.followUp}}</td>
						<td>{{item.resources}}</td>
						<td>{{item.completion}}</td>
						{% if item.completionDate %}
							<td>{{item.completionDate|date("d-m-Y")}}</td>
						{% else %}
							<td></td>
						{% endif %}
						{% if isImage == true %}
							<td>
								{% if item.image != null %}
									<img alt="" width="100px" src={{item.image}}/>
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% else %}
					No items have been found.
				{% endfor %}
			</tbody>
		</table>
		<hr class="solid">
		<div class="footer">
			{% if pv.meetingNextPlace %}

				<p>Prochaine réunion :
					{{pv.meetingNextDate|date("d-m-Y à H:i")}}. Rdv :
					{{pv.meetingNextPlace}}
				</p>
				<p>
					<i>Présence vivement souhaitée des intervenants conviés (cf. tableaux). Merci.

					</i>
				</p>
			{% endif %}
			{% if pv.releaseDate != "" %}
				<p>Fait et diffusé le
					{{pv.releaseDate|date("d-m-Y à H:i")}}</p>
			{% else %}
				<p class="temporary">
					<b>Pv provisoire</b>
				</p>
			{% endif %}
			<p>{{owner.firstName}}
				{{owner.lastName}}</p>
		</div>
		{% if isImage == true %}
			<div class="page_break"></div>
			<h1>Annexes</h1>
			<hr class="annexe solid">
			{% for item in items %}
				{% if item.image != null %}
					<p class="annexe">
						<img alt="" class="annexeImg" src={{item.image}}/>
					</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</body>
</html>
