<table>
	<thead>
		<th>Avancement du chantier</th>
		<th>Accompli depuis la dernière réunion</th>
		<th>Progression</th>
	</thead>
	<tbody>
		{% for lot in lots %}
			<tr>
				<td>
					<span class="lot">{{lot.name}}</span>
				</td>
				<td>
					{{lot.alreadyDone}}
				</td>
				<td>
					{{lot.progress}}
					%
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
