<div id="userGroupeHeader">{{userGroup}}</div>
<table>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{{user.firstName}}
					{{user.lastName}}</td>
				<td>{{user.userGroup}}</td>
				<td>{{user.userFunction}}</td>
				<td>{{user.organism}}</td>
				<td>{{user.email}}</td>
				{% set splitArray = user.phone|split('', 2) %}
				{% set formattedString = splitArray|join(' ') %}
				<td>{{formattedString}}</td>
				<td>{{user.statusPAE}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<style>
	#userGroupeHeader {
		width: 100%;
		font-size: 0.85rem;
		text-align: center;
		font-weight: bold;
		color: white;
		background-color: #5764E1;
		/* border: 1px solid #ddd; */
	}
</style>
